@import url('footer.css');
@import url('header.css');
@import url('main.css');
@import url('fonts/fonts.css');

* {
    margin: 0px;
}

body {
    text-align: center;
    background-color: aliceblue;
}

a {
    text-decoration: none;
}