.UnderHeaderImage {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.text-button {
    display: flex;
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
    padding-right: 0px;
    &:hover {
        text-decoration: none;
    }
}

.text {
    font-size: 20px;
}

.text-div {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 950px){
        flex-direction: column;
    }
}